#div1 {
  background-color: grey;
  height: 50px;
  width: 100%; 
}

header {
  background-image: url('homebackground.png');
  height: 500px;
  width: 100%;
}

body{
  font-family: 'Georgia', sans-serif !important;
  margin:0;
}

#h2_1 {
  margin:0;
  padding:10px;
  text-align: center;
  color:white;
}

#h1_1 {
  font-family: Varela;
  margin:0;
  text-align: center;
  font-weight: bold;
  color:white;
  padding-top: 300px;
  -webkit-text-stroke: 1px #F8F8F8;
  text-shadow: 0px 2px 4px black;
}

#p_1 {
  font-family: Varela;
  margin:0;
  text-align: center;
  color:white;
  font-weight: bold;
  padding-top: 20px;
  font-size: 35px;
  font-style: Monospace;
  -webkit-text-stroke: 1px #F8F8F8;
  text-shadow: 0px 2px 4px black;      
}


/*--------------------------------------------------------------
css for features
--------------------------------------------------------------*/
.features .icon-box {
  text-align: center;
  border: 1px solid #d5e1ed;
  padding: 50px 20px;
  transition: all ease-in-out 0.3s;
}

/*-------------------------------------*/
/* feature boxes colour */
#f1i {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: rgb(17, 173, 17);
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}

#f2i {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: rgb(24, 159, 221);
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}

#f3i {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: rgb(218, 122, 13);
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}

#f4i {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: rgb(65, 66, 65);
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}

#f5i {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: rgb(210, 19, 228);
  border-radius: 5px;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}
/*-------------------------------------*/
.features .icon-box .icon i {
  color: #fff;
  font-size: 28px;
}

.features .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

div a {
  color: #2c4964;
}
.features .icon-box p {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------*/
/* feature box background colour when hover */
#f1b:hover {
  background: rgb(17, 173, 17);
  border-color: rgb(17, 173, 17);
}

#f2b:hover {
  background: rgb(24, 159, 221);
  border-color: rgb(24, 159, 221);
}
#f3b:hover {
  background: rgb(218, 122, 13);
  border-color: rgb(218, 122, 13);
}
#f4b:hover {
  background: rgb(65, 66, 65);
  border-color: rgb(65, 66, 65);
}
#f5b:hover {
  background: rgb(210, 19, 228);
  border-color: rgb(210, 19, 228);
}
/*-------------------------------------*/
/* white icon background when hover */
.features .icon-box:hover #f1i, 
.features .icon-box:hover #f2i,
.features .icon-box:hover #f3i,
.features .icon-box:hover #f4i,
.features .icon-box:hover #f5i{
  background: #fff;
}
/*-------------------------------------*/
/* colour for icon on hover */
.features .icon-box:hover #f1i i {
  color: rgb(17, 173, 17);
}

.features .icon-box:hover #f2i i {
  color: rgb(24, 159, 221);
}

.features .icon-box:hover #f3i i {
  color: rgb(218, 122, 13);
}

.features .icon-box:hover #f4i i {
  color: rgb(65, 66, 65);
}

.features .icon-box:hover #f5i i {
  color: rgb(210, 19, 228);
}

/*--------------------------------------------------------------*/
/* hyperlinks */
.features .icon-box:hover h4, .features .icon-box:hover p {
  color: #fff;
}

div a:hover{
    text-decoration: none !important;
}