#div1 {
  background-color: grey;
  height: 50px;
  width: 100%; 
}

body{
  font-family: 'Georgia', sans-serif !important;
  margin:0;
}

#h2_1 {
  margin:0;
  padding:10px;
  text-align: center;
  color:white;
}

#table_top_padding{
  padding: 20px;
}

label{
  font-size: large;
  font-weight: bold;
}

div.alert {
  text-align: center;
}

.form{
  width: 90%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
/*--------------------------------------------------------------
css for nav bar
--------------------------------------------------------------*/

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(85,85,85)
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

/* Active colours */
#l1 a.active {
  background-color:rgb(17, 173, 17);
}
#l2 a.active {
  background-color:rgb(24, 159, 221);
}
#l3 a.active {
  background-color:rgb(218, 122, 13);
}
#l4 a.active {
  background-color:rgb(65, 66, 65);
}
#l5 a.active {
  background-color:rgb(210, 19, 228);
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
/*--------------------------------------------------------------*/
/* css for voice assistant button */
.bot{
  width: 100%;
  text-align: right;
  border: none;
}

/*--------------------------------------------------------------*/
/* css for popup button */
.modal-content{
	background: rgb(240, 240, 240)
}

.close {
  color: rgb(220, 53, 69); 
	opacity: 1;
}

#overlay {
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
}

.text {
	font-size: 18px; 
}

/*--------------------------------------------------------------*/
/* css for help button and modal*/
div.help {
  position: fixed;
  bottom: 0;
  right: 0;
}

p.helpIcon {
  color: rgb(70, 88, 250);
}

.helpIcon:hover {
  color: rgb(40, 48, 250);
}  

i.command{
  color: rgb(232,62,140);
}

#helpButton{
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
}

/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal2-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
span.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}