#div1 {
  background-color: grey;
  height: 50px;
  width: 100%; 
}

body{
  font-family: 'Georgia', sans-serif !important;
  margin:0;
}

#h2_1 {
  margin:0;
  padding:10px;
  text-align: center;
  color:white;
}


/*--------------------------------------------------------------
css for nav bar
--------------------------------------------------------------*/

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(85,85,85)
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

/* Active colours */
#l1 a.active {
  background-color:rgb(17, 173, 17);
}
#l2 a.active {
  background-color:rgb(24, 159, 221);
}
#l3 a.active {
  background-color:rgb(218, 122, 13);
}
#l4 a.active {
  background-color:rgb(65, 66, 65);
}
#l5 a.active {
  background-color:rgb(210, 19, 228);
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
/*--------------------------------------------------------------*/