#textdiv{
    width: 50%
}

#codediv{
    width: 50%
}

#pseudoinput{
    height: 400px;
    width: 100%;
    resize: none;
    font-size: 15px;
    font-family: Consolas,Menlo,"courier new",monospace;
}

#codeoutput{
    height: 400px;
    width: 100%;
    resize: none;
    font-size: 15px;
    font-family: Consolas,Menlo,"courier new",monospace;
}

#textlabel{
    font-size: large;
}

#codelabel{
    font-size: large;
}

#generatecodebutton{
    height: 80px;
    width: 150px;
    font-size: large;
    font-family: Sans-serif;
    border-radius: 12px;
}

#space{
    padding: 20px;
}
