#EIEOtd{
    width: 50%;
    height: 90%;
}

#codeouttd{
    width: 50%;
}

#EIinput, #EOinput{
    height: 200px;
    width: 100%;
    resize: none;
    font-size: 15px;
    font-family: Consolas,Menlo,"courier new",monospace;
}

#codeoutput{
    height: 400px;
    width: 100%;
    resize: none;
    font-size: 15px;
    font-family: Consolas,Menlo,"courier new",monospace;
}

#generatecodebutton{
    height: 80px;
    width: 150px;
    font-size: large;
    font-family: Sans-serif;
    border-radius: 12px;
}

#space{
    padding: 20px;
}