#textdiv{
    float: left;
    margin-left: 400px;
    margin-top: 100px;
    
}

#codediv{
    float: right;
    margin-right: 400px;
    margin-top: 100px;
    
}

#pseudoinput{
    width: 450px;
    height: 400px;
    resize: none;
}

#codeoutput{
    width: 450px;
    height: 400px;
    resize: none;
}

#textlabel{
    font-size: large;
    margin-left: 30%;
}

#codelabel{
    font-size: large;
    margin-left: 32%;
}

#generatecodebutton{
    margin-top: 100px;
    margin-left: 46%;
    height: 80px;
    width: 150px;
    font-size: large;
    font-family: Sans-serif;
    border-radius: 12px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
  }

#recbutton {
    margin-top: 500px;
    margin-left: auto;
    margin-right: auto;
	height: 100px;
	width: 100px;
	background-color: red;
	border-radius: 100px;
	display: inline-block;
	outline: none;
}

.notRec{
	background-color: red;
}

.Rec{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}

#codesform{
    min-width: 1920px;
    max-width: 1920px;
}