#codediv{
    float: left;
    margin-left: 400px;
    margin-top: 100px;
}

#commentdiv{
    float: right;
    margin-right: 400px;
    margin-top: 100px;
    
}

#codeinput{
    width: 450px;
    height: 400px;
    resize: none;
    font-size: 15px;
    font-family: Consolas,Menlo,"courier new",monospace;
}

#commentoutput{
    width: 450px;
    height: 400px;
    resize: none;
    font-size: 15px;
    font-family: Consolas,Menlo,"courier new",monospace;
}

#codelabel{
    font-size: large;
    margin-left: 40%;
}

#commentlabel{
    font-size: large;
    margin-left: 30%;
} 

#generatecommentbutton{
    margin-top: 100px;
    margin-left: 46%;
    height: 80px;
    width: 150px;
    font-size: large;
    font-family: Sans-serif;
    border-radius: 12px;
}

#commentfor{
    margin: 0 auto; 
    min-width: 1920px;
    max-width: 1920px;
}

div.alert {
    text-align: center;
}