#codetd{
    height: 100%;
    width: 50%;
}

#commenttd{
    height: 100%;
    width: 50%;
}

#codeinput{
    height: 400px;
    width: 100%;
    resize: none;
    font-size: 15px;
    font-family: Consolas,Menlo,"courier new",monospace;
}

#commentoutput{
    height: 400px;
    width: 100%;
    resize: none;
    font-size: 15px;
    font-family: Consolas,Menlo,"courier new",monospace;
}

#space{
    padding: 20px;
}

#generatecommentbutton{
    height: 80px;
    width: 150px;
    font-size: large;
    font-family: Sans-serif;
    border-radius: 12px;
}

