#content {
    margin-left: 60px;
    min-width: 830px;
}

/*Display labels as blocks and adjust its width*/
.label_details {
	width: 300px;
	display: inline-block;
}

/* Create a spacing before every label */
.label_details:before {
	content: "\A";
	white-space: pre-line;
}

/* Adjust width of input fields*/
.fields {
    font-size: large;
    width: 32%;
    height: 50px;
}

/* checkbox css*/
label.checkbox{
  font-size: large;
  font-weight: normal;
  display: inline-block;
}

/* Hides the step in input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

#generatebutton{
  margin-left: 300px;
  margin-top: 20px;
  width: 150px;
  font-size: large;
  font-family: Sans-serif;
  border-radius: 12px;
}

#minlength #maxlength #charincluded #charexcluded {
  font-size: 15px;
  font-family: Consolas,Menlo,"courier new",monospace;
}  

#output{
  width: 70%;
  resize: none;
  font-size: 15px;
  font-family: Consolas,Menlo,"courier new",monospace;
}

/* textarea */
textarea.fields {
  font-size: large;
  width: 32%;
  height: 50px;
  white-space: nowrap;
  overflow-y: hidden;
  resize: none;
}