#button {
	margin-top: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 250px;
  }
  
  #rectext{
	  text-align: center;
	  font-size: 18px;  
  }
  
  #recButton {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    font-size: 24px;
    line-height: 1.33;
}


.Rec{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}

#overlay {
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
}

.text {
	font-size: 18px; 
}

.modal-content{
	background: rgb(240, 240, 240)
}

.close {
	
    color: rgb(220, 53, 69); 
	opacity: 1;
}

