<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{url_for('static', filename = 'styles/base_template.css')}}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/944f3cb790.js" crossorigin="anonymous"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/base.js') }}"></script>
    <title>Title</title>
</head>

<body>
    <div id="div1">
        <h2 id = h2_1>Virtual Assistant</h2>
    </div>
    
    <!-- Navigation bar -->
    <ul class="topnav">
      <li><a href="/"><i class="fas fa-home"></i>&nbsp;Home</a></li>
      <li id="l1"><a href="/comment generation"><i class="far fa-file-alt"></i>&nbsp;Comment Generator</a></li>
      <li id="l2"><a href="#"><i class="fas fa-laptop-code"></i>&nbsp;Code Generator(E/I E/O)</a></li>
      <li id="l3"><a href="/code generation"><i class="far fa-file-code"></i>&nbsp;Code Generator(Text)</a></li>
      <li id="l4"><a href="/voicebot"><i class="fas fa-microphone-alt"></i>&nbsp;Voice Assistant</a></li>
      <li id="l5"><a href="/invalid_input"><i class="far fa-window-close"></i>&nbsp;Invalid Input Generator</a></li>
    </ul>

    {% block content %}
    {% endblock %}  
</body>
</html>
