<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{url_for('static', filename = 'styles/base_template.css')}}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/944f3cb790.js" crossorigin="anonymous"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/base.js') }}"></script>
    <title>Title</title>
</head>

<body>
    <div id="div1">
        <h2 id = h2_1>Virtual Assistant</h2>
    </div>
    
    <!-- Navigation bar -->
    <ul class="topnav">
      <li><a href="/"><i class="fas fa-home"></i>&nbsp;Home</a></li>
      <li id="l1"><a href="/comment generation"><i class="far fa-file-alt"></i>&nbsp;Comment Generator</a></li>
      <li id="l2"><a href="/code generation(EIEO)"><i class="fas fa-laptop-code"></i>&nbsp;Code Generator(E/I E/O)</a></li>
      <li id="l3"><a href="/code generation"><i class="far fa-file-code"></i>&nbsp;Code Generator(Text)</a></li>
      <li id="l4"><a href="/voicebot"><i class="fas fa-microphone-alt"></i>&nbsp;Voice Assistant</a></li>
      <li id="l5"><a href="/invalid_input"><i class="far fa-window-close"></i>&nbsp;Invalid Input Generator</a></li>
    </ul>

    <!-- Display error messages -->
    {% for error in get_flashed_messages() %}
    <div class="alert alert-danger">
      <strong>{{error}}</strong>
    </div>
    {% endfor %}
    
    <!-- Display open notepad success message -->
    {% if write_output %}
    <div class="alert alert-success">
      <strong>Output has been copied into a text file</strong>
    </div>
    {% endif %}

    <!-- Display open notepad success (with output) message -->
    {% if open_empty_success %}
    <div class="alert alert-success">
      <strong>A text editor has opened</strong>
    </div>
    {% endif %}
    
    <!-- Display pop up if redirection to web pages successful -->
    {% if command %}  
    <div id="overlay">
        <!-- Modal content-->
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2>Processing Voice</h2>
              <a href=""><button type="button" class="close close-danger" data-dismiss="modal">&times;</button></a>
            </div>
            <div class="modal-body">
              <p class="text">
                You said: {{transcribed_text}} <br/>
                Redirecting you to {{place}}
              </p>
            </div>
            <div class="modal-footer">
              <a href=""><button type="button" class="btn btn-danger" data-dismiss="modal">Close</button></a>
            </div>
          </div>
        </div>
      </div>
    {% endif %} 
    
    <!-- User manual button for help -->
    <div class="help">
        <button type="button" id="helpButton" title="Click to view the guide on how to use voicebot assistant">
          <p class="helpIcon">
            <i class="fas fa-question-circle fa-3x"></i><br/>
          </p>
        </button>
    </div>

    <!-- The Modal -->
    <div id="helpModal" class="modal2">

      <!-- Modal content -->
      <div class="modal2-content">
        <span class="close">&times;</span>
        <h4><u>Guide to Use Voice Assistant Bot</u></h4>
        <p>
          The voice bot assistant in this web application allows you to navigate between
          the pages, search google/w3schools, opening up the notepad/text editor with or without
          output depending on whether you have any output generated.
        </p>
        
        <p>
          Before you begin, please ensure that you have a working microphone and 
          it has been set as your default microphone in your device in order for it to work.<br/>
        </p>

        <p>
          To <b>navigate within this web application</b>, start your command with <i class="command">redirect to <code>[any page in our virtual assistant]</code></i>.<br/>
          For example, if you want to go to the comment generator page, you can say <i class="command">"redirect to comment generator"</i>.
        </p>

        <p>
          To use it to <b>search google</b>, start your command with <i class="command">search google for <code>[what you want to search]</code></i>.<br/>
          For example, if you want to search google, you can say <i class="command">"search google for python inheritance"</i>.<br/>
        </p>

        <p>
          To use it to <b>open w3schools pages related to python</b>, start your command with <i class="command">open w3schools for <code>[page you want to open]</code></i>.<br/>
          For example, if you want to go to w3schools python inheritance page, you can say <i class="command">"open w3schools inheritance"</i>.<br/>
        </p>

        <p>
          To use it to <b>open notepad</b>, you just need to say <i class="command">open notepad</i> or <i class="command">open text editor</i>.<br/>
          If output is available and you say <i class="command">"open notepad"</i> or <i class="command">"copy to notepad"</i>, a text file containing the output will be generated for you.<br/>
          <i>**Do note that for invalid input generator, 2 separate files will be generated together - one for valid and the other for invalid input.</i>
        </p>
      </div>
    </div>
        
    {% block content %}
    {% endblock %}  
</body>
</html>
