{% extends "base.html" %}
{% block title %}Code Block Generation (EIO){% endblock %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename = 'styles/codeEOstyle.css')}}">
    
    {% for error in get_flashed_messages() %}
    <div class="alert alert-danger">
      <strong>{{error}}</strong>
    </div>
    {% endfor %}

    <form id = codeEOform method="POST">
        <table>
            <tr>
              <td id = EIEOtd>
                  <!-- Expected Input -->
                  <label for="EIinput" id="EIlabel">Expected Input</label><br>
                  <textarea id="EIinput" name="EIinput" placeholder="Enter up to three integer values; separate each value with comma ','">{{inputList}}</textarea>
                  
                  <!-- Space in between EI and EO  -->
                  <div id=space></div>

                  <!-- Expected Output -->
                  <label for="EOinput" id="EOlabel">Expected Output</label><br>
                  <textarea id="EOinput" name="EOinput" placeholder="Enter only one numeric value">{{output}}</textarea>
              </td>
              <td></td>
              <td id=codeouttd>
                  <!-- Codes Output -->
                  <label for="codeoutput" id = codelabel>Codes Output</label><br>
                  <textarea id="codeoutput" disabled>{{predicted_output}}</textarea>
              </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div id=space></div>
                    <!-- Generate Button -->
                    <input type="submit" id = generatecodebutton value="Generate">
                </td>
                <td></td>
            </tr>
          </table>
    </form>
    
    
{% endblock %}