{% extends "base.html" %}
{% block title %}Code Block Generation (EIO){% endblock %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename = 'styles/codeEOstyle.css')}}">

    <form id = codeEOform method="POST">
        <!-- voice assistant button -->
        <table class="bot" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <button id="voicebot" name="btn" value="voice_assist" class="btn btn-secondary" title="Click on this button to use voice bot assistant">
                        <i id= "icn" class="fas fa-microphone-alt fa-3x"></i><br>
                        <span id="spantext">Voice Bot Assistant</span>
                    </button> <br/><br/>
                </td>
            </tr>
        </table>
        <table class="form">
            <tr>
              <td id = EIEOtd>
                  <!-- Expected Input -->
                  <label for="EIinput" id="EIlabel">Expected Input</label><br>
                  <textarea id="EIinput" name="EIinput" placeholder="Enter up to three positive integer values; separate each value with comma ','">{{inputList}}</textarea>
                  
                  <!-- Space in between EI and EO  -->
                  <div id=space></div>

                  <!-- Expected Output -->
                  <label for="EOinput" id="EOlabel">Expected Output</label><br>
                  <textarea id="EOinput" name="EOinput" placeholder="Enter only one numeric value">{{output}}</textarea>
              </td>
              <td></td>
              <td id=codeouttd>
                  <!-- Codes Output -->
                  <label for="codeoutput" id = codelabel>Codes Output</label><br>
                  <textarea id="codeoutput" disabled>{{predicted_output}}</textarea>
                  <input type="hidden" name="hidden" value="{{predicted_output}}">
              </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div id=space></div>
                    <!-- Generate Button -->
                    <input type="submit" class="btn btn-outline-dark btn-lg" id = generatecodebutton name = 'btn' value="Generate">
                </td>
                <td></td>
            </tr>
          </table>
    </form>
    
    
{% endblock %}