{% extends "base.html" %}
{% block title %}Code Block Generation{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename = 'styles/codestyle.css')}}"> 

    <form id = codesform method="POST" >
        <!-- voice assistant button -->
        <table class="bot" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <button id="voicebot" name="btn" value="voice_assist" class="btn btn-secondary" title="Click on this button to use voice bot assistant">
                        <i id= "icn" class="fas fa-microphone-alt fa-3x"></i><br>
                        <span id="spantext">Voice Bot Assistant</span>
                    </button> <br/><br/>
                </td>
            </tr>
        </table>
        <!-- codes form section -->
        <table class="form">
            <tr>
                <td id = textdiv>
                    <!-- Pseudocode Input -->
                    <label id="textlabel">Pseudocode Input</label><br>
                    <textarea wrap="off" id="pseudoinput" name="pseudoinput" placeholder="create a if statement to see if values are the same">{{pseudoblock}}</textarea>
                </td>
                <td></td>
                <td id = codediv>
                    <!-- Code Block Output -->
                    <label id = codelabel>Code Block Output</label><br>
                    <textarea wrap="off" id="codeoutput" disabled>{{predicted_codeblock}}</textarea>
                    <input type="hidden" name="hidden" value="{{predicted_codeblock}}">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div id=space></div>
                    <!-- Generate Button -->
                    <input type="submit" class="btn btn-outline-dark btn-lg" name ="btn" id = "generatecodebutton" value="Generate">
                </td>
                <td></td>
            </tr>
        </table>
    </form> 
{% endblock %}