{% extends "base.html" %}
{% block title %}Code Block Generation{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename = 'styles/codestyle.css')}}">

    {% for error in get_flashed_messages() %}
    <div class="alert alert-danger">
      <strong>{{error}}</strong>
    </div>
    {% endfor %}

    <form id = codesform method="POST" >
        <div id = textdiv>
            <label id="textlabel">Pseudocode Input</label><br>
            <textarea wrap="off" id="pseudoinput" name="pseudoinput" placeholder="create a if statement to see if values are the same">{{transcribed_text}}</textarea>
        </div>

        <div id = codediv>
            <label id = codelabel>Code Block Output</label><br>
            <textarea wrap="off" id="codeoutput" disabled>{{predicted_codeblock}}</textarea>
        </div>
        
        <div id = record>
            <button name="btn" value="get_voice" id="recbutton" title="Click on this button to use voice as input">
                <i id= "icn" class="fas fa-microphone-alt fa-3x"></i><br>
                Voice input
            </button> 
        </div>

        <input type="submit" name ="btn" id = "generatecodebutton" value="Generate">
    </form> 
    
<script type=text/javascript src="{{url_for('static', filename='js/codes.js') }}"></script> 
{% endblock %}