{% extends "base.html" %}
{% block title %}Code Block Generation{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename = 'styles/codestyle.css')}}">
    
    <form id = codesform>
        <div id = textdiv>
            <label id="textlabel">Pseudocode Input</label><br>
            <textarea id="pseudoinput"></textarea>
        </div>

        
        <div id = codediv>
            <label id = codelabel>Code Block Output</label><br>
            <textarea id="codeoutput" disabled></textarea>
        </div>
        
        <div class="center">
            <button id="recbutton" class="btn"><i id= "icn" class="fas fa-microphone-alt fa-3x"></i></button>
        </div>
        
        <input type="submit" id = generatecodebutton value="Generate">
    </form>
    
    
    
<script type=text/javascript src="{{url_for('static', filename='js/codes.js') }}"></script>    
{% endblock %}