{% extends "base.html" %}
{% block title %}Comment Generation{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename = 'styles/commentstyle.css')}}">
    
    <form id = commentfor>
        <div id = codediv>
            <label for="codeinput" id="codelabel">Code Input</label><br>
            <textarea id="codeinput"></textarea>
        </div>

        
        <div id = commentdiv>
            <label for="commentoutput" id = commentlabel>Comments Output</label><br>
            <textarea id="commentoutput" disabled></textarea>
        </div>
        <input type="submit" id = generatecommentbutton value="Generate">
    </form>
    
    
{% endblock %}