{% extends "base.html" %}
{% block title %}Comment Generation{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename = 'styles/commentstyle.css')}}">

    <form id = commentfor method="POST">
        <!-- voice assistant button -->
        <table class="bot" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <button id="voicebot" name="btn" value="voice_assist" class="btn btn-secondary" title="Click on this button to use voice bot assistant">
                        <i id= "icn" class="fas fa-microphone-alt fa-3x"></i><br>
                        <span id="spantext">Voice Bot Assistant</span>
                    </button> <br/><br/>
                </td>
            </tr>
        </table>
        <table class="form">
            <tr>
                <td id = codetd>
                    <!-- Code Input -->
                    <label for="codeinput" id="codelabel">Code Input</label><br>
                    <textarea wrap="off" id="codeinput" name="codeinput" placeholder="if a > b:&#10;  #do something">{{codeblock}}</textarea>
                </td>
                <td></td>
                <td id = commenttd>
                    <!-- Comments Output -->
                    <label for="commentoutput" id = commentlabel>Comments Output</label><br>
                    <textarea wrap="off" id="commentoutput" disabled>{{finalstring}}</textarea>
                    <input type="hidden" name="hidden" value="{{finalstring}}">
                </td>
            </tr>
            <tr>
                <td id = Modetd>
                    <!-- Chose analysis mode -->
                    <label for="Mode" id = Modelabel>Method of code analysis</label>
                    <select name="Mode" id="Mode">
                        <option value="lbl">Analyze line By line</option>
                        <option value="all">Analyze entire Codeblock</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div id=space></div>
                    <!-- Generate Button -->
                    <input class="btn btn-outline-dark btn-lg" type="submit" id = generatecommentbutton name = btn value="Generate">
                </td>
                <td></td>
            </tr>
        </table>
    </form>
    
<script type=text/javascript src="{{url_for('static', filename='js/comments.js') }}"></script>
{% endblock %}