{% extends "base.html" %}
{% block title %}Comment Generation{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename = 'styles/commentstyle.css')}}">

    {% for error in get_flashed_messages() %}
    <div class="alert alert-danger">
      <strong>{{error}}</strong>
    </div>
    {% endfor %}

    <form id = commentfor method="POST">
        <div id = codediv>
            <label for="codeinput" id="codelabel">Code Input</label><br>
            <textarea id="codeinput" name="codeinput" placeholder="if a > b:&#10;  #do something"></textarea>
        </div>

        
        <div id = commentdiv>
            <label for="commentoutput" id = commentlabel>Comments Output</label><br>
            <textarea id="commentoutput" disabled>{{finalstring}}</textarea>
        </div>
        <input type="submit" id = generatecommentbutton name = generatecommentbutton value="Generate">
    </form>
    
<script type=text/javascript src="{{url_for('static', filename='js/comments.js') }}"></script>
{% endblock %}