<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename = 'styles/homestyle.css')}}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/944f3cb790.js" crossorigin="anonymous"></script>
    <title>Home page</title>
</head>

<body>
    <div id="div1">
        <h2 id = h2_1>Welcome to virtual assistant !</h2>
    </div>
    <header>
      <h1 id = h1_1>Development just became smooth sailing</h1>
      <p id = p_1>Get started by utilizing any of our development assistant tools shown below</p>
    </header>

    <section id="features" class="features">
      <div class="container">

        <br/><br/>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <a href = "">
              <div class="icon-box" id="f1b">
                <div class="icon" id="f1i"><i class="far fa-file-alt"></i></div>
                <h4>Comment generator</h4>
                <p>Auto generation of comments <br/> based on your code blocks</p>
              </div>
            </a>  
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <a href = "">
              <div class="icon-box" id="f2b">
                <div class="icon" id="f2i"><i class="fas fa-laptop-code"></i></div>
                <h4>Code generator(E/I E/O)</h4>
                <p>Auto generation of codes based<br/> on your expected input and output</p>
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <a href="">
              <div class="icon-box" id="f3b">
                <div class="icon" id="f3i"><i class="far fa-file-code"></i></div>
                <h4>Code generator(Text)</h4>
                <p>Auto generation of code block <br/>based on a given text</p>
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <a href="">
              <div class="icon-box" id="f4b">
                <div class="icon" id="f4i"><i class="fas fa-microphone-alt"></i></div>
                <h4>Voice assistant</h4>
                <p>Auto excecution of tasks <br/>based on your speech</p>
              </div>
          </a>  
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <a href="">
              <div class="icon-box" id="f5b">
                <div class="icon" id="f5i"><i class="far fa-window-close"></i></div>
                <h4>Invalid input generator</h4>
                <p>Generating inputs based on the rules<br/>you provide to the generator</p>
              </div>
            </a>  
          </div>
          
        </div>

      </div>
    </section>
    
    <br/>
    <br/>
</body>
</html>
