{% extends "base.html" %}
{% block title %}Invalid Input{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename = 'styles/invalid_input.css')}}">

    <form id = invalidform method="POST">
        <!-- voice assistant button -->
        <table class="bot" cellspacing="0" cellpadding="0">
          <tr>
              <td>
                <button id="voicebot" name="btn" value="voice_assist" class="btn btn-secondary" title="Click on this button to use voice bot assistant">
                  <i id= "icn" class="fas fa-microphone-alt fa-3x"></i><br>
                  <span id="spantext">Voice Bot Assistant</span>
              </button> <br/><br/>
              </td>
          </tr>
      </table>
      <div id = "content">
        <!-- Minimum Length -->
        <div>
          <label for="minlength" class="label_details">Character(s) Minimum Length:</label>
          <input class = "fields" name="minlength" type="number" id="minlength" value="{{minlength}}" placeholder="Enter minimum length"/> 
        </div>

        <!--Maximum Length -->
        <div>
          <label for="maxlength" class="label_details">Character(s) Maximum Length:</label>
          <input class = "fields" name="maxlength" type="number" id="maxlength" value="{{maxlength}}" placeholder="Enter maximum length"/>
        </div>
        <br>

        <!-- Characters to be Included -->
        <div>
          <label for="charincluded" class="label_details">Character(s) must be Included:</label>
          <textarea class="fields" name="charincluded" id="charincluded" placeholder="Separate each character with a space ' '">{{charincluded}}</textarea> <br>
          <label class="label_details"></label>
          
          <input type="checkbox" id="uppercaseI" name="uppercaseI" value="Uppercase" {{uppercaseI}}>
              <label for="uppercase" class="checkbox">Uppercase &nbsp;</label>
              
          <input type="checkbox" id="lowercaseI" name="lowercaseI" value="Lowercase" {{lowercaseI}}>
              <label for="lowercase" class="checkbox">Lowercase &nbsp;</label> 
              
          <input type="checkbox" id="symbolsI" name="symbolsI" value="symbols" {{symbolsI}}>
              <label for="symbols" class="checkbox">Symbols &nbsp;</label> 
              
          <input type="checkbox" id="numbersI" name="numbersI" value="Numbers" {{numbersI}}>
              <label for="numbers" class="checkbox">Numbers</label> 
        </div>
		
	<p>Utilise drop-down list for possible ASCII characters to be added to included characters: </p>

	<form>
		<label for="ascii"></label>
		<select name="ascii" id="ascii1" onchange="if (this.selectedIndex) displayIChar();">
				<option value=" ">Select a character</option>
			<optgroup label="Uppercase Letters">
				<option value=" A ">Code 65: A</option>
				<option value=" B ">Code 66: B</option>
				<option value=" C ">Code 67: C</option>
				<option value=" D ">Code 68: D</option>
				<option value=" E ">Code 69: E</option>
				<option value=" F ">Code 70: F</option>
				<option value=" G ">Code 71: G</option>
				<option value=" H ">Code 72: H</option>
				<option value=" I ">Code 73: I</option>
				<option value=" J ">Code 74: J</option>
				<option value=" K ">Code 75: K</option>
				<option value=" L ">Code 76: L</option>
				<option value=" M ">Code 77: M</option>
				<option value=" N ">Code 78: N</option>
				<option value=" O ">Code 79: O</option>
				<option value=" P ">Code 80: P</option>
				<option value=" Q ">Code 81: Q</option>
				<option value=" R ">Code 82: R</option>
				<option value=" S ">Code 83: S</option>
				<option value=" T ">Code 84: T</option>
				<option value=" U ">Code 85: U</option>
				<option value=" V ">Code 86: V</option>
				<option value=" W ">Code 87: W</option>
				<option value=" X ">Code 88: X</option>
				<option value=" Y ">Code 89: Y</option>
				<option value=" Z ">Code 90: Z</option>
			</optgroup>
			<optgroup label="Lowercase Letters">
				<option value=" a ">Code 97: a</option>
				<option value=" b ">Code 98: b</option>
				<option value=" c ">Code 99: c</option>
				<option value=" d ">Code 100: d</option>
				<option value=" e ">Code 101: e</option>
				<option value=" f ">Code 102: f</option>
				<option value=" g ">Code 103: g</option>
				<option value=" h ">Code 104: h</option>
				<option value=" i ">Code 105: i</option>
				<option value=" j ">Code 106: j</option>
				<option value=" k ">Code 107: k</option>
				<option value=" l ">Code 108: l</option>
				<option value=" m ">Code 109: m</option>
				<option value=" n ">Code 110: n</option>
				<option value=" o ">Code 111: o</option>
				<option value=" p ">Code 112: p</option>
				<option value=" q ">Code 113: q</option>
				<option value=" r ">Code 114: r</option>
				<option value=" s ">Code 115: s</option>
				<option value=" t ">Code 116: t</option>
				<option value=" u ">Code 117: u</option>
				<option value=" v ">Code 118: v</option>
				<option value=" w ">Code 119: w</option>
				<option value=" x ">Code 120: x</option>
				<option value=" y ">Code 121: y</option>
				<option value=" z ">Code 122: z</option>
			</optgroup>
			<optgroup label="Digits">
				<option value=" 0 ">Code 48: 0</option>
				<option value=" 1 ">Code 49: 1</option>
				<option value=" 2 ">Code 50: 2</option>
				<option value=" 3 ">Code 51: 3</option>
				<option value=" 4 ">Code 52: 4</option>
				<option value=" 5 ">Code 53: 5</option>
				<option value=" 6 ">Code 54: 6</option>
				<option value=" 7 ">Code 55: 7</option>
				<option value=" 8 ">Code 56: 8</option>
				<option value=" 9 ">Code 57: 9</option>
			</optgroup>
			<optgroup label="Symbols">
				<option value=" ! ">Code 33: !</option>
				<option value=' " '>Code 34: "</option>
				<option value=" # ">Code 35: #</option>
				<option value=" $ ">Code 36: $</option>
				<option value=" % ">Code 37: %</option>
				<option value=" & ">Code 38: &</option>
				<option value=" ' ">Code 39: '</option>
				<option value=" ( ">Code 40: (</option>
				<option value=" ) ">Code 41: )</option>
				<option value=" * ">Code 42: *</option>
				<option value=" + ">Code 43: +</option>
				<option value=" , ">Code 44: ,</option>
				<option value=" - ">Code 45: -</option>
				<option value=" . ">Code 46: .</option>
				<option value=" / ">Code 47: /</option>
				<option value=" : ">Code 58: :</option>
				<option value=" ; ">Code 59: ;</option>
				<option value=" < ">Code 60: <</option>
				<option value=" = ">Code 61: =</option>
				<option value=" > ">Code 62: ></option>
				<option value=" ? ">Code 63: ?</option>
				<option value=" @ ">Code 64: @</option>
				<option value=" [ ">Code 91: [</option>
				<option value=" \ ">Code 92: \</option>
				<option value=" ] ">Code 93: ]</option>
				<option value=" ^ ">Code 94: ^</option>
				<option value=" _ ">Code 95: _</option>
				<option value=" ` ">Code 96: `</option>
				<option value=" { ">Code 123: {</option>
				<option value=" | ">Code 124: |</option>
				<option value=" } ">Code 125: }</option>
				<option value=" ~ ">Code 126: ~</option>
			</optgroup>
		</select>
	</form>
    
        <br>
        <!-- Characters to be Excluded -->
        <div>
          <label for="charexcluded" class="label_details">Character(s) must be Excluded:</label>
          <textarea class="fields" name="charexcluded" id="charexcluded" placeholder="Separate each character with a space ' '">{{charexcluded}}</textarea> <br>
          <label class="label_details"></label>
          
          <input type="checkbox" id="uppercaseE" name="uppercaseE" value="Uppercase" {{uppercaseE}}>
              <label for="uppercase" class="checkbox">Uppercase &nbsp;</label>
              
          <input type="checkbox" id="lowercaseE" name="lowercaseE" value="Lowercase" {{lowercaseE}}>
              <label for="lowercase" class="checkbox">Lowercase &nbsp;</label> 
              
          <input type="checkbox" id="symbolsE" name="symbolsE" value="symbols" {{symbolsE}}>
              <label for="symbols" class="checkbox">Symbols &nbsp;</label> 
              
          <input type="checkbox" id="numbersE" name="numbersE" value="Numbers" {{numbersE}}>
              <label for="numbers" class="checkbox">Numbers</label> 
        </div>
        
	<p>Utilise drop-down list for possible ASCII characters to be added to excluded characters: </p>

	<form>
		<label for="ascii"></label>
		<select name="ascii" id="ascii2" onchange="if (this.selectedIndex) displayEChar();">
				<option value=" ">Select a character</option>
			<optgroup label="Uppercase Letters">
				<option value=" A ">Code 65: A</option>
				<option value=" B ">Code 66: B</option>
				<option value=" C ">Code 67: C</option>
				<option value=" D ">Code 68: D</option>
				<option value=" E ">Code 69: E</option>
				<option value=" F ">Code 70: F</option>
				<option value=" G ">Code 71: G</option>
				<option value=" H ">Code 72: H</option>
				<option value=" I ">Code 73: I</option>
				<option value=" J ">Code 74: J</option>
				<option value=" K ">Code 75: K</option>
				<option value=" L ">Code 76: L</option>
				<option value=" M ">Code 77: M</option>
				<option value=" N ">Code 78: N</option>
				<option value=" O ">Code 79: O</option>
				<option value=" P ">Code 80: P</option>
				<option value=" Q ">Code 81: Q</option>
				<option value=" R ">Code 82: R</option>
				<option value=" S ">Code 83: S</option>
				<option value=" T ">Code 84: T</option>
				<option value=" U ">Code 85: U</option>
				<option value=" V ">Code 86: V</option>
				<option value=" W ">Code 87: W</option>
				<option value=" X ">Code 88: X</option>
				<option value=" Y ">Code 89: Y</option>
				<option value=" Z ">Code 90: Z</option>
			</optgroup>
			<optgroup label="Lowercase Letters">
				<option value=" a ">Code 97: a</option>
				<option value=" b ">Code 98: b</option>
				<option value=" c ">Code 99: c</option>
				<option value=" d ">Code 100: d</option>
				<option value=" e ">Code 101: e</option>
				<option value=" f ">Code 102: f</option>
				<option value=" g ">Code 103: g</option>
				<option value=" h ">Code 104: h</option>
				<option value=" i ">Code 105: i</option>
				<option value=" j ">Code 106: j</option>
				<option value=" k ">Code 107: k</option>
				<option value=" l ">Code 108: l</option>
				<option value=" m ">Code 109: m</option>
				<option value=" n ">Code 110: n</option>
				<option value=" o ">Code 111: o</option>
				<option value=" p ">Code 112: p</option>
				<option value=" q ">Code 113: q</option>
				<option value=" r ">Code 114: r</option>
				<option value=" s ">Code 115: s</option>
				<option value=" t ">Code 116: t</option>
				<option value=" u ">Code 117: u</option>
				<option value=" v ">Code 118: v</option>
				<option value=" w ">Code 119: w</option>
				<option value=" x ">Code 120: x</option>
				<option value=" y ">Code 121: y</option>
				<option value=" z ">Code 122: z</option>
			</optgroup>
			<optgroup label="Digits">
				<option value=" 0 ">Code 48: 0</option>
				<option value=" 1 ">Code 49: 1</option>
				<option value=" 2 ">Code 50: 2</option>
				<option value=" 3 ">Code 51: 3</option>
				<option value=" 4 ">Code 52: 4</option>
				<option value=" 5 ">Code 53: 5</option>
				<option value=" 6 ">Code 54: 6</option>
				<option value=" 7 ">Code 55: 7</option>
				<option value=" 8 ">Code 56: 8</option>
				<option value=" 9 ">Code 57: 9</option>
			</optgroup>
			<optgroup label="Symbols">
				<option value=" ! ">Code 33: !</option>
				<option value=' " '>Code 34: "</option>
				<option value=" # ">Code 35: #</option>
				<option value=" $ ">Code 36: $</option>
				<option value=" % ">Code 37: %</option>
				<option value=" & ">Code 38: &</option>
				<option value=" ' ">Code 39: '</option>
				<option value=" ( ">Code 40: (</option>
				<option value=" ) ">Code 41: )</option>
				<option value=" * ">Code 42: *</option>
				<option value=" + ">Code 43: +</option>
				<option value=" , ">Code 44: ,</option>
				<option value=" - ">Code 45: -</option>
				<option value=" . ">Code 46: .</option>
				<option value=" / ">Code 47: /</option>
				<option value=" : ">Code 58: :</option>
				<option value=" ; ">Code 59: ;</option>
				<option value=" < ">Code 60: <</option>
				<option value=" = ">Code 61: =</option>
				<option value=" > ">Code 62: ></option>
				<option value=" ? ">Code 63: ?</option>
				<option value=" @ ">Code 64: @</option>
				<option value=" [ ">Code 91: [</option>
				<option value=" \ ">Code 92: \</option>
				<option value=" ] ">Code 93: ]</option>
				<option value=" ^ ">Code 94: ^</option>
				<option value=" _ ">Code 95: _</option>
				<option value=" ` ">Code 96: `</option>
				<option value=" { ">Code 123: {</option>
				<option value=" | ">Code 124: |</option>
				<option value=" } ">Code 125: }</option>
				<option value=" ~ ">Code 126: ~</option>
			</optgroup>
		</select>
	</form>

        <!-- Submit Button -->
        <input type="submit" class="btn btn-outline-dark" id = "generatebutton" name = "btn" value="Generate"/>

        <br><br><br>
        <!-- Invalid input area -->
        <div class = output>
          <label for="output">Examples of Invalid Input:</label><br>
          <textarea id="output" rows=15 class="output" disabled>{{invalid_output}}</textarea>
          <input type="hidden" name="hidden_iv" value="{{invalid_output}}">
        </div>

        <!-- Valid input area -->
        <div class = output>
          <label for="output">Examples of Valid Input:</label><br>
          <textarea id="output" rows=15 class="output" disabled>{{valid_output}}</textarea>
          <input type="hidden" name="hidden_v" value="{{valid_output}}">
        </div>
      </div>
    </form>
	
	<!-- JavaScript for drop-down list -->
	<script>
		function displayIChar(){
			var value = document.getElementById('ascii1').value;
			document.getElementById('charincluded').value += value;
		}
		function displayEChar(){
			var value = document.getElementById('ascii2').value;
			document.getElementById('charexcluded').value += value;
		}
	</script>
	<script type=text/javascript src="{{url_for('static', filename='js/invalid_input.js') }}"></script>
{% endblock %}