{% extends "base.html" %}
{% block title %}Invalid Input{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename = 'styles/invalid_input.css')}}">

    <form id = invalidform method="POST">
        <!-- voice assistant button -->
        <table class="bot" cellspacing="0" cellpadding="0">
          <tr>
              <td>
                <button id="voicebot" name="btn" value="voice_assist" class="btn btn-secondary" title="Click on this button to use voice bot assistant">
                  <i id= "icn" class="fas fa-microphone-alt fa-3x"></i><br>
                  <span id="spantext">Voice Bot Assistant</span>
              </button> <br/><br/>
              </td>
          </tr>
      </table>
      <div id = "content">
        <!-- Minimum Length -->
        <div>
          <label for="minlength" class="label_details">Characters Minimum Length:</label>
          <input name="minlength" type="number" id="minlength" value="{{minlength}}" placeholder="Enter minimum length"/> 
        </div>

        <!--Maximum Length -->
        <div>
          <label for="maxlength" class="label_details">Characters Maximum Length:</label>
          <input name="maxlength" type="number" id="maxlength" value="{{maxlength}}" placeholder="Enter maximum length"/> 
        </div>

        <!-- Characters to be Included -->
        <div>
          <label for="charincluded" class="label_details">Characters must be Included:</label>
          <input name="charincluded" type="text" id="charincluded" value="{{charincluded}}" placeholder="Separate each character with space ' '" /> 
        </div>

        <!-- Characters to be Excluded -->
        <div>
          <label for="charexcluded" class="label_details">Characters must be Excluded:</label>
          <input name="charexcluded" type="text" id="charexcluded" placeholder="Separate each character with space ' '" value="{{charexcluded}}"/> 
        </div>
        
        <!-- Submit Button -->
        <input type="submit" class="btn btn-outline-dark" id = "generatebutton" name = "btn" value="Generate"/>

        <br><br><br>
        <!-- Output area -->
        <div class = output>
          <label for="output">Violation Output:</label><br>
          <textarea id="output" rows=15 class="output" disabled>{{generated_output}}</textarea>
          <input type="hidden" name="hidden" value="{{generated_output}}">
        </div>
      </div>
    </form>

{% endblock %}