{% extends "base.html" %}
{% block title %}Voice Bot Assistant{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{{url_for('static', filename = 'styles/voicebot.css')}}">

  <form method="POST" >
    <div id="button">
      <button name="bot" id="recButton" value="startvoice" class="btn btn-danger" title="Click on this button to use voice assistant" >
        <i id= "icon" class="fas fa-microphone-alt fa-5x"></i>
      </button>
    </div>
    <p id="rectext">Allow microphone access to use voice bot and click on the red button above to start the voice assistant.</p>
  </form>

  <script type=text/javascript src="{{url_for('static', filename='js/voicebot.js') }}"></script>
{% endblock %}
